html,
body {
    background-color: #303030;
    height: 100%;
    width: auto;
}

.video-player {
    display: flex;
    height: 100%;
}

.video-player video {
    margin-bottom: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
}
